.Icon {
  /* border: 1px black solid; */
  padding: 10px 3px;
  line-height: 40px;
}

.Icon:hover path {
  fill: #2142b2;
}

.Icon:hover g {
  opacity: 1;
}

.Icon svg {
  height: 27px;
  width: 27px;
}
