.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
input[type="file"] {
  display: none;
}
.Content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}
